*,
html {
    margin: 0;
    padding: 0;
}

.container {
  
}
.navbar-container {
    width: 100%;
    height: 10vh;
 }

 .ul-navbar {
    background-color: crimson; 
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
 }

 .li-navbar {
    list-style-type: none;
    padding: 20px;
    color:white
    margin: 1px;
    font-size: 30px;
 }

 .li-navbar:hover {
    background-color: red;
    transition: .10s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
 }

 .a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
 }
 

 .content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.a-content {
    background-color: lab(97.18% -1.34 -4.27);
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: box-shadow: 16px 15px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 16px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 15px 5px 0px rgba(0,0,0,0.75);;
}
.img-content {
    width:70%;
    height:70%;
    border-radius: 20px;
}

.footer {
    height: 10vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color:white
}

.a-contact {
   background-color: lab(97.18% -1.34 -4.27);
    color: black;
    text-decoration: none;
    font-size: 40px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    border-radius: 10px;
    box-shadow: box-shadow: 16px 15px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 16px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 15px 5px 0px rgba(0,0,0,0.75);;
}